.site-header {
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0);
    z-index: 999999;
    display: flex;
    height: auto;
    left: 0px;
    top: 0px;
    position: fixed;
    background: linear-gradient(52deg, #200a5a, #470e1e);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);

    &_inner {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media (max-width: 1070px) {
            width: fit-content;
            justify-content: center;
        }
        
        .my-name-header {
            font-family: 'Lemonmilk';
            font-size: 40px;
            color: white;
            opacity: 0;
            transition: opacity 0.15s ease; 

            &.visible {
                opacity: 0.75;
            }
        }
        

        .nav-menu {
            display: block;
            min-width: 240px;
            padding-right: 20px;
            padding-left: 20px;
            white-space: nowrap;
            overflow: hidden;

            @media (max-width: 600px) {
                padding-right: 0;
                padding-left: 0;
            }

            .nav-link {
                padding: 40px 15px 40px 15px;
                display: inline-block;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: auto;
                font-family: 'Lemonmilk';
                color: white;
                font-size: 16px;
                font-weight: 400;
                transition: opacity 0.3s ease;
                
                @media (max-width: 600px) {
                    font-size: 12px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
        }
    }
}

.intro-screen {
    padding-top: 130px;
    justify-items: center;
    color: white;
    text-align: left;
    width: -webkit-fill-available;

    @media (max-width: 600px) {
        border-top: 80px;
    }

    .my-name {
        font-family: 'Lemonmilk';
        font-size: 60px;

        @media (max-width: 1090px) {
            font-size: 40px;
        }
    }

    .name-summary-and-icons-wrapper {
        display: flex;

        @media (max-width: 675px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .name-and-summary-wrapper {
            display: flex;
            flex-direction: column;

            .my-summary-wrapper {
                padding-top: 20px;
                padding-bottom: 40px;
                justify-content: space-between;
                display: flex;
        
                @media (min-width: 1090px) {
                    padding-top: 40px;
                    padding-bottom: 50px;
                }

                .my-summary {
                    height: fit-content;
                    align-content: center;
                    font-size: 20px;
                    line-height: 1.5;
                    font-family: 'Montserrat';
                    padding-right: 80px;

                    @media (max-width: 1090px) {
                        padding-right: 0px;
                        font-size: 15px;
                    }
                }
        
            }
        }
    }
    
    .my-education {
        background-color: rgba(255, 255, 255, 0.07);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        &_header {
            font-size: 37px;
            display: flex;
            justify-content: flex-start;
            font-family: 'Nyata FTR';
            padding-left: 30px;
            height: 75px;
            width: auto;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.04);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        &_inner {
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            width: auto;
            height: 100%;

            //Turn 'EDUCATION' section into column-based layout instead.
            @media (max-width: 915px) {
                display: block;
            }
        }

        
        &_cont-1 {
            flex-direction: row;
            display: flex;
            border-right: solid 1px #ffffff4d;

            @media (max-width: 915px) {
                border-right: none;
                border-bottom: solid 1px #ffffff4d;
                padding-top: 20px;
                padding-bottom: 20px;
                justify-content: flex-start;
            }

            .text-info {
                font-family: 'Montserrat';
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 300px;
    
                @media (min-width: 916px) and (max-width: 1340px) {
                    min-width: 260px;
                }
                
                @media (max-width: 380px) {
                    min-width: unset;
                }

                .one {
                    font-size: 20px;
                    font-weight: bold;

                    @media (max-width: 380px) {
                        font-size: 18px;
                    }
                }
                
                .two {
                    font-size: 20px;
                    @media (max-width: 380px) {
                        font-size: 18px;
                    }
                }
                
                .three {
                    font-size: 16px;

                    @media (max-width: 380px) {
                        font-size: 14px;
                    }
                }
            }

            .sfu-logo {
                opacity: 0.5;
                padding-right: 30px;
                align-content: center;

                @media (max-width: 580px) {
                    position: relative;
                    top: 32px;
                    left: -70px;
                    padding-right: 0;

                    svg {
                        height: 25px;
                        width: 50px;
                    }
                }
            }
        }

        &_cont-2 {
            font-family: 'Montserrat';
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: -webkit-fill-available;
            
            @media (max-width: 915px) {
                padding-left: 0;
            }

            .specialization-text {
                font-size: 23px;
                font-weight: bold;
            }

            .specialization-main {
                display: flex;
                margin-top: 20px;
                width: 100%;

                .specialization-main-col {
                    display: block;
                    flex: 1;

                    .list-header {
                        font-weight: bold;
                        padding-bottom: 5px;
                        margin-bottom: 8px;
                        border-bottom: 1px solid hsla(0, 0.00%, 100.00%, 0.29);
                        font-size: 18px;

                        @media (max-width: 1090px) {
                            font-size: 16px;
                        }
                    }

                    .list-item {
                        font-size: 16px;
                        font-style: italic;
                        margin-bottom: 4px;

                        @media (max-width: 1090px) {
                            font-size: 13px;
                            margin-bottom: 7px;
                        }
                    }

                    &.one {
                        padding-right: 20px;    
                    }
                }
            }

            .specialization-footer {
                color: rgba(255, 255, 255, 0.45);
                font-style: italic;
                font-size: 12px;
                margin-top: 15px;
            }
        }
    }
}

.floating-icons-container {
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    width: 1020px;
    justify-content: space-around;
    flex-direction: row;
    margin-right: 20px;

    .icons-col {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .hovering-icon {
            width: 120px;
            height: 120px;
            background-color: #ffffff2d; /* Blue color */
            border-radius: 50%; /* Makes it a circle */
            position: relative; /* Position relative for animation */
            animation: hoverUpDown 5s ease-in-out infinite; /* Attach animation */
            animation-fill-mode: both;
            align-content: center;
            text-align: center;
            box-shadow: 3px 9px 8px 0px rgb(8 1 29 / 21%);

            svg {
                margin-top: 5px;
                width: 80%
            }
    
            &.one {
                animation-delay: -0.2s;
                top: -5px;
                left: 55px;
                width: 75px;
                height: 75px;
            }
    
            &.two {
                top: 20px;
                right: 10px;
                animation-delay: -1.4s;
                width: 95px;
                height: 95px;

                svg {
                    width: 70%;
                    height: 70%;
                }
            }

            &.three {
                top: 40px;
                left: 30px;
                animation-delay: -2.6s;
                width: 85px;
                height: 85px;
            }

            &.four {
                top: 70px;
                animation-delay: -3.8s;
                right: 30px;
            }
        }
            
        /* Keyframes for the up and down movement */
        @keyframes hoverUpDown {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-5px);
            }
            100% {
                transform: translateY(0);
            }
        }

    }
}

.experience-section {
    padding-top: 130px;
    padding-bottom: 20px;
    justify-items: center;
    width: -webkit-fill-available;

    .experience-and-skills-wrapper {
        display: flex;
        padding: 0;

        @media (max-width: 950px) {
            flex-direction: column;
            align-items: center;

            .skills-section-container {
                margin-top: 50px;
                width: 100%;

                .skills-section-inner {
                    display: flex;
                    justify-content: space-between;

                    .skill-type-container {
                        display: flex;
                        flex-direction: column;
                        width: 30%;

                        .skills-header {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .experience-title-and-timeline-wrapper {
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    }
}

.projects-section {
    padding-top: 130px;
    padding-bottom: 30px;
    justify-items: center;
    width: -webkit-fill-available;
}

.container-bg {
    background-color: hsla(0, 0.00%, 100.00%, 0.10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header {
    font-size: 37px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Nyata FTR';
    padding-left: 30px;
    height: 75px;
    width: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.section-title {
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Nyata FTR';
    height: 75px;
    width: auto;
    align-items: center;
    color: white;

    &.projects {
        margin-bottom: 20px;
    }

    @media (max-width: 620px) {
        font-size: 60px;
    }
}

.contact-section {
    padding-top: 130px;
    justify-items: center;
    width: -webkit-fill-available;

    .contact-section-middle {
        width: 50%;
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: 'Nyata FTR';
        justify-content: space-between;
        margin-top: 40px;
        padding: 40px;
        border: 3px solid #ffffff2b;
        border-radius: 50px;
        
        
        .linkedin-and-github-section {
            margin-left: 50px;
            align-content: center;
            
            .icons {
                font-size: 150px;
                display: flex;
                height: 166px;
                
                .icon {
                    margin: 8px;
                    color: rgb(255, 255, 255);
                    opacity: 0.5;
                    transition: (opacity ease 0.08s), (transform ease 0.12s);
                    
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                        transform: scale(1.05);
                    }
                }
                
            }
        }

        @media (max-width: 540px) {
            padding: 20px;

            .contact-card {
                width: 100%;
                box-sizing: border-box;
            }
        }

        @media (max-width: 840px) {
            width: 85%;
        }

        @media (max-width: 1590px) {
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;
        
            .linkedin-and-github-section {
                margin-left: 0;
                margin-top: 30px;

                .icons {
                    justify-content: center;
                }
            }
        }
    }
}

.space {
    height: 350px;
}

.site-footer {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.479), transparent);
    width: 100vw;
    height: 300px;
    align-self: flex-end;
    font-family: 'Nyata FTR';
    font-size: 25px;
    color: rgba(255, 255, 255, 0.493);
    text-align:center;
    align-content: center;
}