.section-container {
  width: 70%;
  height: fit-content;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  align-self: center;

  @media (max-width: 1530px) {
    width: 80%;
  }

  @media (max-width: 675px) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 90%
  }
}