.tech-badge {
    width: fit-content;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 8px;
    padding: 5px 15px;
    margin-top: 3px;

    @media (max-width: 475px) {
        font-size: 15px;
    }
}